coverage
TODO.md
tmp
src/exiftool.config
*.config.bk
*.config.test
__tests__/images/gps
__tests__/images/copy*
__tests__/images/*_original

*.config.bk
*.config.test
.*.swp
._*
.DS_Store
.git
.npmrc
.lock-wscript
*.env
npm-debug.log
node_modules
package-lock.json
